@media (min-width: 992px) {
	// body {
	// 	position: relative;
	// }
	.nav_logo {
		display: none;
	}
	.nav {
		z-index: 10;
		&-mobile {
			display: none;
		}
		&-desktop {
			position: fixed;
			display: flex;
			top: 0;
			left: 0;
			right: 0;
			justify-content: flex-end;
			align-items: center;
			background-color: $secondColor;
			border: solid 1px $secondColorDarker;
			padding-right: 7em;
			font-size: 0.65em;
		}
		&__home {
			position: absolute;
			left: 10vw;
			top: 0;
			display: flex;
			margin-right: auto;

			img {
				width: 90px;
				height: 120px;
				border-radius: 0 0 5% 5%;
				box-shadow: 1px 1px 4px 1px black;
			}
		}
		&__link {
			font-size: 2em;
			img {
				position: absolute;
				width: 17px;
				height: 1em;
				top: 45%;
				transform: translateY(-50%);
			}
		}
	}
	.hamburger {
		display: none;
	}
	.invest-header {
		padding: 1.3em;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		color: $firstColor;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 1.6em;
	}
	.nav-mobile {
		display: none;
	}
	.invest {
		font-family: 'Montserrat', sans-serif;
		background-color: $secondColor;
		border-radius: 1%;
		margin: 0 2em;
		padding-bottom: 1em;
		text-align: center;
		// font-size: 1.3em;
	}

	.cards {
		display: flex;
		position: relative;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		margin: 2em;
		gap: 1em;
		img {
			height: auto;
			width: 40vw;
			border-radius: 3%;
		}
		.card-item {
			position: relative;
		}
		.card-overlay {
			background-color: rgba(0, 0, 0, 0.7);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			right: 0;
			bottom: 0;
			opacity: 0;
			border-radius: 3%;
			transform: translateX(0);
			transition: all 0.4s ease-in-out 0s;
			// z-index: 10;
		}
		.card-details {
			position: absolute;
			text-align: left;
			font-size: 1.2vw;
			padding-left: 10%;
			padding-right: 1em;
			width: 100%;
			top: 50%;
			left: 50%;
			opacity: 0;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			transition: all 0.3s ease-in-out 0s;
			color: $firstColor;

			h3 {
				font-size: 2vw;
				padding-bottom: 0.2em;
			}
		}
		.card-item:hover .card-overlay {
			opacity: 1;
		}
		.card-item:hover .card-details {
			opacity: 1;
		}
	}

	.contact {
		font-family: 'Montserrat', sans-serif;
		background-color: $secondColor;
		border-radius: 1%;
		margin: 0 2em;
		.container {
			display: grid;
			align-items: center;
			grid-template-columns: 1fr 1fr;
			padding-bottom: 1em;
		}
		.map {
			position: relative;
			iframe {
				width: 100%;
				height: 350px;
			}
		}
	}
	.agreement-img {
		img {
			width: 50vw;
		}
	}
}
